<script>
    //suppress 2d world
    document.getElementById('draw2dDiv').style.display = 'none';
    //suppress 3d world
    document.getElementById("draw3dDiv").style.display = 'none';
    //
    document.getElementById("extContainer").style.display = 'block'; 
</script>
<h3> select data to display </h3>
{{#each data}}
<li>
    <a style="font-size:15; font-family:times, serif;" href= '/viewDB/{{id}}'> <b>Display Model</b> created on : {{date}}</a>
</li><br>

{{/each}}